body {
    max-width: 970px;
    margin: 0 auto;
    font-family: 'Fredoka One', cursive;
}
.heading {
    font-size: 70px;
    text-align:center;
}
.topnav {
    background-color: #171819;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Impact', sans-serif;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav active {
    background-color: #4CAF50;
    color: white;
}

#headerimg {
    display: block;
    width: 970px;
    
}
#home {
    display: block;
    width: 970px;
    background-color: rgb(236,189,49);
    background-position: center bottom, left top;
    background-repeat: repeat-x;
    overflow: hidden;
    
}
.about {
    float:left;
    margin-left: 20px;
    width: 500px;
    margin-bottom: 30px;
}
.about h1 {
    font-weight: 900;
    color: #FFF;
    line-height: 34px;
    margin-top: 8px;
    margin-bottom: 0; 
    padding-bottom: 0;
}
.about h3 {
    font-size: 18px;
    color: #FFF;
    line-height: 18px;
}
.photo-inner {
    margin-right:20px;
    float:left;
    padding: 12px 0 0 20px;

}
.photo-inner img {
    height:186px; 
    width:153px; 
}
.personal-info {
    float:left;
    margin-left: 10px;
}
#personal-info1 {
    float:left;
    list-style-type: none;
}
#personal-info1 li {
    padding: 4px 7px;
    border-radius: 3px;
}

#personal-info2 {
    float:left;
    list-style-type: none;
    font-family: 'Fredoka One';
}
#personal-info2 li {
    padding: 4px 7px;
    border-radius: 3px;
    width: 170px;
}

main {
    display:block;
}

#topskills img {
 height:230px;
 width:180px;
 margin: 25px;
}
.photofeedback {
    float:left;
}
#feedback p:first-of-type {
    font-family: 'Architects Daughter', cursive;
    text-align:center;
}
#fromVsevolod {
    float:right;
}
footer {
    display:block;
}
.form {
    top:100px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #171819;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6a6f77;
}

#links {
    display: block;
    float:right;
}
#links img {
    height:50px;
    width:50px;
}